# This file tells Git which files shouldn't be added to source control

.idea
.vscode
.zed
storage/
apify_storage/
crawlee_storage/
node_modules/
dist/
tsconfig.tsbuildinfo
.git/
.storage

# Added by Apify CLI
.venv

# Junk and local files
temp_file.zip
*.png
*.jpg
*.jpeg
*.gif
jobs.json
test-output.txt
.env
*.log
.env.example
.env.*

